<%= form_with(model: specific_objective, local: true) do |form| %>
  <% if specific_objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(specific_objective.errors.count, "error") %> prohibited this specific_objective from being saved:</h2>

      <ul>
      <% specific_objective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'fields', specific_objective: specific_objective, form: form, ro: false %>

  <div class="actions">
    <%= form.submit "Salva", class: "btn btn-primary" %>
    <%= link_to 'Annulla', specific_objectives_path, class: "btn btn-default" %>
    <% if @specific_objective.id %>
      <%= link_to 'Dettaglio', @specific_objective, class: "btn btn-default" %>
    <% end %>
  </div>

<% end %>
