<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header with-link-on-top">Dettaglio Obiettivo specifico</h2>
  </div>
</div>

<%= form_with(model: @specific_objective, local: true) do |form| %>
  <%= render 'fields', specific_objective: @specific_objective, form: form, ro: true %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Id Sharepoint</th>
      <th>Nome file</th>
      <th>Autore</th>
    </tr>
  </thead>

  <tbody>
    <% @specific_objective.documents.each do |document| %>
      <% sp_doc = document.sharepoint_file %>
      <tr>
        <td><%= document.unique_id %></td>
        <td><%= link_to_if !sp_doc.linking_url.blank?, document.filename, sp_doc.linking_url, target: "_blank" %></td>
        <td><%= document.author %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Modifica', edit_specific_objective_path(@specific_objective), class: "btn btn-default" %>

<%= link_to 'Elenco', specific_objectives_path, class: "btn btn-default" %>
