<p id="notice"><%= notice %></p>


<div class="row">
  <h1>Elenco</h1>

  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Nome file</th>
        <th>URL</th>
        <th>Autore</th>
        <th>Ultima modifica</th>
        <th>Minor vers.</th>
        <th>Major vers.</th>
        <th>Nro di vers.</th>
        <th>checked_out_by_user</th>
        <th>locked_by_user</th>
        <th>check_out_type</th>
        <th>server_relative_url</th>
        <th>unique_id</th>
      </tr>
    </thead>
    <tbody>
      <% @files.each do |f| %>
        <tr>
          <td><%= f.name %></td>
          <td><%= link_to f.name, f.linking_url, target: "_blank" if !f.linking_url.blank? %></td>
          <td><%= f.author.title %></td>
          <td><%= f.time_last_modified %></td>
          <td><%= f.minor_version %></td>
          <td><%= f.major_version %></td>
          <td><%= f.versions.size %></td>
          <td><%= f.checked_out_by_user.try(:title) %></td>
          <td><%= f.locked_by_user.try(:title) %></td>
          <td><%= f.check_out_type %></td>
          <td><%= f.server_relative_url %></td>
          <td><%= f.unique_id %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>


<br>

<%= link_to 'New Page', new_page_path %>
